           
$primary-color:#ccbcd4 ;
$second-color: #EB808A;
$third-color: #FDF6F0;
$font1: 'Reem Kufi', sans-serif;;
$font2:'Playfair Display', serif;
$font3: 'Roboto', sans-serif;
$font4: 'Nothing You Could Do', cursive ;