.title{
    margin-top: 40px;
    margin-bottom: 40px;
    h1{
        font-family: $font1;
        text-align: center;
        font-size: 50px;
        font-weight: 500;
    }

}
.category{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 85px;
    .card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h2{
            margin-top: 10px;
            font-size: 50px;
            font-family: $font4;
            font-weight: 500;
        }
        img{
            width: 400px;
            border-radius: 9px;
            &:hover{
                opacity: 0.7;
                transition: 0.2s;
            }

        }
    }
}
@media screen and (max-width:768px){
    .category{
        align-items: center;
       
        flex-direction: column;
  
        .card{
            margin-top: 50px;
            
        
            img{
                padding: 0 30px;
            }

        }
    }
}