@import "./mixin";
@import "./header";
@import "./nav";
@import "./navbar";
@import "./footer";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.product{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin: 100px ;
   
    img{
        width: 400px;
        padding-right: 60px;
    }
    .buy{
        h2{
            font-family: $font1;
            margin-top: 10px;
        }
        h1{
            margin-top: 10px;
            font-family: $font3;
        }
        p{
            font-family: $font3;
            font-weight: 600;
        }
        width: 300px;
        height: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .quantity{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 100px;
        }
        button{
            height: 40px;
            background-color: $second-color;
            color: white;
            border: none;
            margin-top: 20px;
            font-size: 18px;
            font-family: $font1;
            letter-spacing: 3px;
            cursor: pointer;
            &:hover{
                background: white;
                color: $second-color;
                border: 2px solid $second-color;
                transition: 1s;
            }
        }
    }
}
@media screen and (max-width:768px){
    .product{
        flex-direction: column;
        margin: 150px;
       margin-top: 200px;
       margin-bottom: 200px;
       
        img{
           margin-left: 70px;
        }
      

    }
}