@import "./mixin";
@import "./header";
@import "./nav";
@import "./navbar";
@import "./footer";



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: $font1;
    font-size: 30px;
    margin-top: 50px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-bottom: 100px;
    form{
        input{
            width: 400px;
            height: 40px;
            padding: 10px 10px;
            display: block;
            margin-top: 30px;
            font-family: $font1;
            border: none;
            border-bottom: $second-color solid 2px;
            font-size: 20px;
            outline: 0;
        }
        button{
            margin-top: 30px;
            width: 400px;
            height: 40px;
            background-color: $second-color;
            border: none;
            color: white;
            font-family: $font3;
            font-size: 20px;
            letter-spacing: 5px;
            &:hover{
                background-color: white;
                color: $second-color;
                border: 2px solid $second-color;
                transition: 2s;
                cursor: pointer;
            }
        }
    }
}
@media screen and (max-width:768px){
    .content{
        padding: 10px 0;
        form{
            input{
                width: 300px;
               
            }
            button{
                width: 300px;
            }
        }
    }
}