.header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  width: 90px;
}

.header .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.header .service img {
  width: 28px;
  height: 28px;
  margin: 0 6px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .service form {
  margin: 0 15px;
  padding: 10px 18px;
}

.header .service form input {
  width: 180px;
  height: 39px;
  border: solid 3px #EB808A;
  border-radius: 18px;
  padding: 10px 18px;
  font-family: "Roboto", sans-serif;
  background: url(https://image.flaticon.com/icons/png/512/149/149852.png) no-repeat;
  background-size: 20px;
  background-position: right;
  outline: 0;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
  }
  .header img {
    width: 70px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0;
    margin-left: 12px;
  }
  .header .service img {
    padding-right: 4px;
  }
}

nav {
  height: 38px;
  margin: auto;
  margin-top: 10px;
  font-family: "Reem Kufi", sans-serif;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10px;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

nav ul li a:hover {
  border-bottom: 2px solid #EB808A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav label, nav input {
  display: none;
}

@media screen and (max-width: 900px) {
  body {
    width: 100%;
  }
  body nav {
    width: 100%;
    height: 60px;
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  body nav {
    width: 100%;
    height: 100%;
    background-color: #EB808A;
    padding: 10px;
  }
  body nav label {
    font-size: 35px;
    color: white;
    display: block;
    cursor: pointer;
  }
  body nav ul {
    display: none;
  }
  body nav #open-menu:checked + ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body nav #open-menu:checked + ul li {
    display: block;
    margin: 10px 0;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55px;
  margin-top: 10px;
}

.navbar .beauty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.navbar .beauty a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  font-family: "Reem Kufi", sans-serif;
}

.navbar .beauty:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #EB808A;
}

.navbar .skin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.navbar .skin:hover {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #E1DCE4;
}

.navbar .skin a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  font-family: "Reem Kufi", sans-serif;
  padding-top: 15px;
}

.footer {
  width: 100%;
  margin-top: 15px;
  height: 400px;
  background-color: #EB808A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer h1 {
  font-family: "Reem Kufi", sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: white;
}

.footer a {
  font-size: 20px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.footer .contact-us p {
  color: white;
  font-size: 20px;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.social-media {
  background-color: #EB808A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media img {
  width: 75px;
  height: 75px;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
  .footer .box {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .footer .contact-us p {
    font-size: 15px;
  }
  .social-media img {
    margin: 8px;
    padding: 6px;
    width: 40px;
    height: 40px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.us {
  width: 100%;
  height: 800px;
  margin: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #FDF6F0;
}

.us img {
  width: 600px;
}

.us .info {
  width: 500px;
}

.us .info h1 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 8px;
  text-align: center;
  color: #7F2649;
}

.us .info p {
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #7F2649;
  font-weight: 500;
  margin-top: 20px;
}

.white {
  width: 100%;
  height: 700px;
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.white img {
  width: 500px;
}

.white .info {
  width: 500px;
}

.white .info h1 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 8px;
  text-align: center;
  color: #7F2649;
}

.white .info p {
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #7F2649;
  font-weight: 500;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .us {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 1200px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .us img {
    padding: 30px 10px;
    width: 100%;
  }
  .us .info {
    padding: 30px 10px;
    width: 100%;
    margin: auto;
  }
  .white {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 100px;
    height: 1600px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px 0px;
    margin: auto;
  }
  .white img {
    padding: 30px 0;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0;
    margin-right: -30px;
    padding: 10px 0;
  }
  .white .info {
    width: 100%;
    margin: auto;
  }
}
/*# sourceMappingURL=info.css.map */