@import "./mixin";
@import "./header";
@import "./nav";
@import "./navbar";
@import "./hero";
@import "./hero2";
@import "./about";
@import "./album";
@import "./footer";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



